<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html xmlns:c="http://java.sun.com/jsp/jstl/core">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

< class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <div th:text = "${'ID: ' + job.id}"></div>
                <div th:text = "${'Name: ' + job.name}"></div>
                <div th:text = "${'Employer: ' + job.employer}"></div>
                <div th:text = "${'Location: ' + job.location}"></div>
                <div th:text = "${'Position Type: ' + job.positionType}"></div>
                <div th:text = "${'Core Competency: ' + job.coreCompetency}"></div>
            </td>
        </tr>

        <tr>
            <th:block th:each="job : ${allJobs}">
                <th th:text = "${allJobs.column}"></th>
            </th:block>
        </tr>

    </table>
    <!-- my code ends here -->

</div>

</body>
</html>